@import url("https://api.fontshare.com/v2/css?f[]=switzer@300&f[]=outfit@600&display=swap");
@import "tailwindcss";

@theme {
    --font-primary: "Outfit", sans-serif;
    --font-secondary: "Switzer", sans-serif;

    --color-primary: oklch(40.46% 0.0891 138.73);
    --color-background: oklch(93.83% 0.0202 97.54);
    --color-secondary: oklch(59.27% 0.0697 106.37);
    --color-accent: oklch(86.06% 0.1731 91.94);
    --color-dark: oklch(21.78% 0 0);
    --color-light: oklch(98.16% 0.0017 247.84)
}

@layer utilities {
    .transform-style-3d {
        transform-style: preserve-3d;
    }
    .perspective-1000 {
        perspective: 1000px;
    }
    .rotate-y-180 {
        transform: rotateY(180deg);
    }
    .backface-hidden {
        backface-visibility: hidden;
    }
    @keyframes fade-in {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      
      .animate-fade-in {
        animation: fade-in 3s ease-out forwards;
      }
      
      @keyframes fast-fade-in {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      
      .animate-fast-fade-in {
        animation: fade-in 1s forwards;
      }
}
  
/* 🔹 Classi riutilizzabili per layout */
.container-padding {
    @apply px-6 md:px-12 py-12;
}

.section-title {
    @apply text-2xl md:text-3xl font-bold text-center mb-6;
}

/* 🔹 Classi per le card */
.card {
    @apply border rounded-lg shadow-md bg-white p-4 transition-transform transform hover:scale-105 hover:shadow-xl;
}

.card-title {
    @apply text-lg font-semibold text-gray-900;
}

.card-text {
    @apply text-gray-600 font-medium;
}

/* 🔹 Classi per i bottoni */
.btn-primary {
    @apply bg-primary text-background font-primary px-6 py-3 rounded-lg shadow-md ;
}

.btn-secondary {
    @apply bg-accent text-primary px-6 py-2 rounded-lg text-lg font-bold;
}

/* 🔹 Classi per input e form */
.input-field {
    @apply border border-gray-300 rounded-lg p-3 w-full bg-white;
}

.input-label {
    @apply text-sm sm:text-base md:text-lg font-semibold text-primary;
}

/*Utilities*/

::placeholder {
    color: var(--color-primary);
    opacity: 0.5
 }

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.slick-prev:before,
.slick-next:before {
    font-size: 1.7rem !important;
    color: var(--color-primary) !important;
}